html{
    box-sizing: border-box;
    height:100%
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #aff, #63c);
    display: flex;
    font-family: 'dosis', sans-serif;
    height: inherit;
    justify-content: center;

}
